<style>

*{
	font-family: 'Noto Sans KR', sans-serif;
}

.logo-image{
	display: block;
	margin-top: 20px;
}

.login{
	font-size: 15px;
	margin-top: 24px;
	text-decoration: none;
	color: #333333;
}

.login a{
	color: #333333;
}

.membership{
	font-size: 15px;
	margin-top: 24px;
	text-decoration: none;
	color: #333333;
}

.membership a{
	color: #333333;
}

.nav{
	font-size: 15px;
	word-spacing: 10px;
	margin-top: 28px;
	margin-bottom: 16px;
	color: #333333;
}

.nav a{
	color: #5F5F5F;
}

.nav :hover{
	font-weight: 700;
	color: #B5E0EC;
}

a:link{
	text-decoration: none;
	color: #333333;
}

.search{
	background-color: white;
	height: 35px;
	border: 2px solid #F7E789;
	border-radius: 1.5em;
	margin-top: 24px;
	margin-bottom: 16px;
}

.line{
	background-color: #DBDBDB;
	height: 1px;
	width: 100%;
}

.scent{
	font-size: 20px;
	margin-top: 32px;
	color: #4b4b4b;
}

.thema{
	font-size: 12px;
	margin-top: 12px;
}

.candle{
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 28px;
	padding: 10px;
	color: #4b4b4b;
}

.product{
	display: block;
	border: 1.5px solid #555555;
	margin: 0 0 20px 0;
	text-decoration: none;
}

.product:hover{
	text-decoration: none;
}

.product .product-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product .info{
	padding: 10px;
}

.product .info h4{
	font-size: 16px;
	color: #4a4a4a;
	margin-bottom:  10px;
	text-align: center;
	font-weight: 600;
}

.product .info .price{
	font-size: 14px;
	color: #4a4a4a;
	text-align: center;
	font-weight: 500;
	margin-bottom: 16px;
}

.diffuser{
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
	margin-bottom: 28px;
	padding: 10px;
	color: #4b4b4b;
}

.footer{
	background-color: #F2F2F2;
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: center;
	margin: 120px 0 20px 0;
	font-size: 12px;
	line-height: 24px;
}

.footer a{
	margin: 0 10px;
	text-decoration: none;
}



</style>
